* {
	box-sizing: border-box;
}

.header-property-1-default {
	background: var(--white, #ffffff);
	height: 60px;
	position: sticky;
	top: 0;
	overflow: hidden;
	z-index: 999 !important;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	isolation: isolate;
	overflow: visible;
}

.header-property-1-default .frame-119 {
	display: flex;
	flex-direction: row;
	gap: 24px;
	align-items: flex-start;
	justify-content: flex-start;
	position: absolute;
	left: 743px;
	top: calc(50% - 24px);
}

.header-property-1-default .frame-17 {
	background: var(--background, #fafafa);
	border-radius: 10px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: flex-start;
	justify-content: center;
	flex-shrink: 0;
	width: 247px;
	height: 48px;
	position: relative;
}

.header-property-1-default .frame-16 {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: flex-start;
	justify-content: flex-start;
	flex-shrink: 0;
	position: relative;
}

.header-property-1-default .solar-magnifer-outline {
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	position: relative;
	overflow: visible;
	color: #808080;
}

.header-property-1-default .t-m-ki-m {
	color: var(--body-text, #808080);
	text-align: left;
	font-family: "SpaceGrotesk-Regular", sans-serif;
	font-size: 16px;
	font-weight: 400;
	position: relative;
}

.header-property-1-default .group-4 {
	flex-shrink: 0;
	width: 48px;
	height: 48px;
	position: static;
}

.header-property-1-default .rectangle-2 {
	background: var(--background, #fafafa);
	border-radius: 10px;
	width: 48px;
	height: 48px;
	position: absolute;
	left: 271px;
	top: 0px;
}

.header-property-1-default .solar-bell-linear {
	border-radius: 10px;
	width: 33px;
	height: 33px;
	position: absolute;
	left: 278.5px;
	top: 7.5px;
	overflow: hidden;
}

.header-property-1-default .group {
	width: 75%;
	height: 83.33%;
	position: absolute;
	right: 12.5%;
	left: 12.5%;
	bottom: 8.33%;
	top: 8.33%;
	overflow: visible;
	color: #9BA287;
}

.header-property-1-default .ellipse-4 {
	background: var(--secondary-high, #f4a754);
	border-radius: 50%;
	border-style: solid;
	border-color: var(--background, #fafafa);
	border-width: 1px;
	width: 9.6px;
	height: 9.6px;
	position: absolute;
	left: 297.4px;
	top: 8.4px;
}

.header-property-1-default .rectangle-3 {
	border-radius: 5px;
	flex-shrink: 0;
	width: 48px;
	height: 48px;
	position: relative;
	object-fit: cover;
}

.header-property-1-default .b-ng-i-u-khi-n {
	color: var(--title, #111111);
	text-align: left;
	font-family: var(--title-1-font-family, "SpaceGrotesk-Bold", sans-serif);
	font-size: var(--title-1-font-size, 24px);
	line-height: var(--title-1-line-height, 38px);
	font-weight: var(--title-1-font-weight, 700);
	position: absolute;
	left: 32px;
	top: calc(50% - 19px);
}